<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3 p-3">
            <div class="position-fixed">
                {{> menu id="dashboard"}}
            </div>
        </div>

        <div class="col-6 p-4">
            <h3>{{title}}</h3>
            {{> listothers }}
        </div>

        <div class="col-3 p-3">
            <div class="position-fixed">
                {{> search }}<br>
                {{#if trends}}
                    <div class="container-fluid bg-light p-3">
                        <h4>Trends für dich</h4>
                        {{#each trends}}
                            <div class="container-fluid mb-2">
                                <span>{{this.tag}}</span><br>
                                <span>{{this.num}} Other</span><br>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <p>Aktuell keine Trends.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
